<!--关于我们-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= aboutModel.name %></title>
        <meta name="keywords" content="<%= aboutModel.keywords %>">
        <meta name="description" content="<%= aboutModel.description %>">
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/about.css"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.ico" />
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <a href="/" class="logo lFloat"></a>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="active btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>   
            <div class="topimg main"><img src="images/gybanner_02.jpg" /></div>
            <div class="main bgwhite" style="margin: 0 auto 45px;">
                <div class= "aboutpadding">
                    <ul>
                        <li><img src="images/gymgs_05.png" /></li>
                        <li>
                            <div class="aboutbox">
                                <h3>关于我们</h3>
                                <span>提供全面，周到，专业的 互联网解决方案</span>
                            </div>
                        </li>
                        <li><img src="images/gymgs_07.png" /></li>
                        <li>
                            <div class="aboutbox">
                                <h3>资质荣誉</h3>
                                <span>尽情演绎企业和品牌的 极致之美</span>
                            </div>
                        </li>
                        <li><img src="images/gymgs_09.png" /></li>
                        <li>
                            <div class="aboutbox">
                                <h3>加入我们</h3>
                                <span>展望未来，咕德人充满信心 高素质的专业人才</span>
                            </div>
                        </li>
                        <li><img src="images/gymgs_12.png" /></li>
                        <li>
                            <div class="aboutbox">
                                <h3>我们的客户</h3>
                                <span>2017年初 咕德人服务的 客户已突破800余家</span>
                            </div>
                        </li>
                        <li><img src="images/gymgs_14.png" /></li>
                        <li>
                            <div class="aboutbox">
                                <h3>我们的使命</h3>
                                <span>咕德人热情服务每一位的客户 您的满意是我们最大的骄傲 </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main bgwhite" style="margin: 0 auto 20px;">
                <div class="aboutcontent">
                    <h2>咕德简介</h2>
                    <p><%- aboutModel.mixed.pageContent %></p>
                </div>
            </div>
            <div class="main bgwhite" style="margin: 0 auto 20px;">
                <div class="aboutcontent">
                    <h3>我们的梦</h3>
                    <h5>2013年梦想计划启动，杭州咕德网络正式诞生</h5>
                    <span>
                        每一个人都会有自己爱做的梦，而我的梦想是遥看远方，看所想的景色，梦想去的地方。为了这个梦想，我每天努力拼搏，就算生活再苦再难，也从没放弃过。幸运的是我们有家人的温暖，有爱人的陪伴，有朋友的呼唤，是他们告诉我们如何面对所遇见的苦难，教会了我们如何学着坚强，给了我们梦想开始的地方。我庆幸的告诉自己这一切都是最好的安排”！就这样，梦想计划启动。
                    </span>
                </div>
            </div>
            <div class="main bgwhite" style="margin: 0 auto 20px;">
                <div class="aboutcontent">
                    <h3>技术团队</h3>
                    <h5>2014年杭州咕德网络 梦想启动</h5>
                    <span>
                        杭州咕德科技有限公司聚集了网页设计行业的尖端人才，我们不在于人多，我们要的是有着超强的专业知识与独特思维方式的人才。我们有超前的创意和想法，我们有自由的灵魂和豪放的性格，我们有放荡不羁的业余生活。在这里，我们专注事业，情有独钟；我们更追求卓越，精益求精！我们就是这个时代不可或缺的技术型人才。
                    </span>
                </div>
            </div>
            <div class="main bgwhite" style="margin: 0 auto 100px;">
                <div class="aboutcontent">
                    <h3>公司成立</h3>
                    <h5>2016年杭州咕德网络 正式成立</h5>
                    <span>
                        杭州咕德科技有限公司经过行业尖端人才的聚焦和前期的精心准备，公司与2016年正式成立。公司坐落于杭州美丽的西子湖畔，包括首席设计师、策划师与IT工程师。咕 的网络技有限公司由一群有创意有梦想有实力的年轻团队打造，服务范围主要包括：企业网站品牌设计、策划、营销；移动端设计开发，高端电商平台设计运营；淘宝、天猫店铺设计；微信公众号运营推广、微网站设计开发等。
                    </span>
                </div>
            </div>
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
    </body>
</html>
