<!--联系我们-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= contactModel.name %></title>
        <meta name="keywords" content="<%= contactModel.keywords %>">
        <meta name="description" content="<%= contactModel.description %>">
        <link rel="stylesheet" type="text/css" href="css/public.css"/>
        <link rel="stylesheet" type="text/css" href="css/contactUs.css"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.ico" />
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <a href="/" class="logo lFloat"></a>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="active btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>
            <div class="topimg main"><img src="images/lxwmbanner_02.jpg" /></div>
            <div class="main bgwhite" style="margin: 0 auto 45px;">
                <div class="contactUs">
                    <h1>杭州总部联系方式</h1>
                    <p><%- contactModel.mixed.pageContent %></p>
                    <div class="map"><img src="images/map_05.jpg" /></div>
                    <div class="demand">
                        <h3>发布您的需求 以便我们及时联系您</h3>
                        <input type="text" id="txt_companyName" class="companyName" placeholder="公司名称" />
                        <div class="namephone">
                            <ul class="cf">
                                <li><input type="text" id="txt_name" placeholder="姓名" /></li>
                                <li><input type="text" id="txt_telphone" placeholder="电话" /></li>
                                <li><input type="text" id="txt_qq" placeholder="QQ" /></li>
                            </ul>
                        </div>
                        <textarea class="demandBox" id="txt_message" placeholder="填写您的项目需求"></textarea>
                    </div>
                    <div class="contpbtt">
                        <a href="javascript:void(0)" id="btn_submit" class="btn2 submitMessage">
                            <span class="line2 line-top2"></span>
                            <span class="line2 line-right2"></span>
                            <span class="line2 line-bottom2"></span>
                            <span class="line2 line-left2"></span>
                            提交留言</a>
                        <div class="tiptext" style="display: none" id="tip_result">亲！提交成功，正在火速联系您</div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
        <script type="text/javascript" src="/js/jquery.min-1.11.3.js" ></script>
        <script type="text/javascript">
        $(function() {
            let result = $('#tip_result');
            $('#btn_submit').click(function(){
                let goodwl = window.localStorage.getItem('goodwl');
                if (goodwl) {
                    alert('您今天已经提交过了，请勿重复提交，我们的客服会马上和您联系！')
                    return;
                }
                let qq = $('#txt_qq').val()
                let name = $('#txt_name').val()
                let message = $('#txt_message').val()
                let telphone = $('#txt_telphone').val()
                let companyName = $('#txt_companyName').val()

                if (name === '') {
                    alert('姓名不能为空！')
                } else if (telphone === '') {
                    alert('电话不能为空！')
                } else if (message === '') {
                    alert('请输入您的项目需求！')
                } else {
                    window.localStorage.setItem('goodwl', 'yes')
                    $.post('/contact', {
                        'name': name,
                        'qq': qq,
                        'message': message,
                        'telphone': telphone,
                        'companyName': companyName
                    }, function(res) {
                        result.show()
                    })

                    $('#btn_submit').css({
                        'background': '#999'
                    })
                }
            })
        })
        </script>
    </body>
</html>
