<!--新闻列表-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>新闻列表</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/solution.css"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.ico" />
    </head>
    <body>
        <header class="nav">
            <div class="main cf">
                <a href="/" class="logo lFloat"></a>
                <ul class="lFloat navList">
                    <li><a href="/" class="btn">首页</a></li>
                    <li><a href="/sitepackage" class="btn">建站套餐<b class="hot"></b></a></li>
                    <li><a href="/appcustom" class="btn">APP定制</a></li>
                    <li><a href="/customerCase" class="btn">客户案例</a></li>
                    <li><a href="/solution" class="btn">解决方案</a></li>
                    <li><a href="/qutsourcing" class="btn">技术外包</a></li>
                    <li><a href="/about" class="btn">关于咕德</a></li>
                    <li><a href="/connect" class="btn">联系我们</a></li>
                </ul>
                <a class="rFloat rigthList">
                    <p>旗舰平台</p>
                    <ul>
                        <li>咕德外包</li>
                        <li>咕德设计</li>
                        <li>ucdapp</li>
                    </ul>
                </a>
            </div>
        </header>
        <section>
            <div class="main bgwhite matopinfo2">
                <div class="Interaction solution">
                    <h4 class="mt50">新闻列表</h4>
                    <p class="itip">咕德网络一站式解决方案</p>
                    <ul class="cf">
                        <% goodNewsArray.forEach(function(item) { %>
                        <li>
                            <a href="/news/<%= item.id %>" class="details">
                                <img width="100%" src="/images/bg_02.png" />
                                <img class="up-pic" src="<%= item.thumbnail %>" />
                            </a>
                            <div class="cont-wrap">
                                <h5><%= item.title %></h5>
                                <span><%= item.abstract %></span>
                                <p><b class="lFloat">Read more</b><a href="/news/<%= item.id %>" class="rFloat"></a></p>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>  
        </section>
        <footer>
            <div class="bottomIntroduce">
                <ul class="cf">
                    <li>
                        <span>7x24小时提供技术支持</span>
                        <b>我们假期日提供全方位的技术支持与解决方案</b>
                    </li>
                    <li>
                        <span>应急故障未解决赔偿</span>
                        <b>产品上线后出现应急故障未解决照价赔偿！</b>
                    </li>
                    <li>
                        <span>不满意全额100%退款</span>
                        <b>如果我们的设计3稿不满意 全额退款！</b>
                    </li>
                    <li>
                        <span>多对一的服务团队</span>
                        <b>整合线下资源，让技术大牛干最牛的事</b>
                    </li>
                </ul>
            </div>  
            <div class="footernav">
                <%- homeModel.value.codeFooter %>
            </div>
        </footer>
    </body>
</html>
